# https://github.com/github/gitignore

# =============== C =============== #

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# =============== Visual Studio =============== #

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# =============== Output Files =============== #
modifiedText.txt